* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 30px;
  .container {
    ul {
      list-style: none;
      li {
        margin: 10px 0;
      }
    }
  }
}
